.container {
  display: flex;
  justify-content: space-around;
  font-size: 2vh;
}
.basketSide {
  width: 27%;
  height: 37vh;
  background-color: white;
  border: .1vh solid rgb(178, 178, 178);
}
.basketHead{
 height: 15%;
 display: flex;
 justify-content:space-between;
 padding: .4vh 3vh;
 align-items: center;
}
.garbage{
  color: red;
font-size: 3vh;}
.basketController{
      border-block: .1vh solid rgb(178, 178, 178);
height: 30%;
}
.menuSide {
  width: 67%;
}
.categoryBox {
  display: flex;
  width: 100%;
  height: 22vh;
  padding: 0.5vh 4vh;
  overflow-x: hidden;
  border: 0.1vh solid rgb(178, 178, 178);
}

.category {
  margin: 2vh;
  width: fit-content;
  padding: 0 0.7vh;
  text-wrap: nowrap;
  color: rgb(0, 0, 68);
  background-color: rgb(197, 232, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(251, 142, 64);
  color: white;
  margin: 3vh;
  width: fit-content;
  height: 6vh;
  font-size: 5vh;
}
.leftIcon,
.rightIcon {
  cursor: pointer;
  position: absolute;
  background-color: aliceblue;
  color: rgb(255, 123, 79);
  font-size: 4vh;
  border-radius: 7vh;
  top: 8vh;
  right: 3.3vh;
}
.leftIcon:hover {
  transform: scale(1.2) rotate(170deg);
}

.rightIcon:hover {
  transform: scale(1.2) rotate(10deg);
}
.leftIcon {
  left: 32%;
  transform: rotate(180deg);
}

.icono {
  width: 20%;
  height: 100%;
  border-radius: 0.5vh;
}
.menuSearchBox {
  direction: rtl;
  border-inline: #ccc 0.2vh ridge;
  padding: 1vh;
}
.searchBar {
  direction: rtl;
  width: 37%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.searchInput {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 1vh;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

.searchIcon {
  font-size: 4vh;
  color: #ccc;
  position: absolute;
  margin-left: 7%;
}
/* product styles start from here */
.producto {
  display: grid;
  justify-content: space-around;
  padding: 2vh 0;
  grid-template-columns: repeat(auto-fit, minmax(30%, 0fr));
  grid-template-rows: repeat(auto-fit, minmax(44vh, 0fr));
  width: 100%;
  text-align: center;
  gap: 1vh;
  border: 0.1vh solid #ccc;
}
.product {
  border: 0.1vh solid #ccc;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productimage {
  width: 100%;
  height: 67%;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.productDescription {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  max-height: 30vh;
}

.product:hover .productimage {
  opacity: 0.2;
}

.product:hover .productDescription {
  opacity: 1;
}

.productTitle {
  margin-top: 10px;
  font-size: 1.2em;
}

.priceaction {
}

.controlBox {
  display: flex;
  align-items: center;
}

.increment {
  cursor: pointer;
}

@media (max-width: 777px) {
  .categoryBox {
    width: 100%;
  }
}
