.container {
  background: #ffffff75;
  margin: 1vh;
  display: flex;
  justify-content: space-around;
  font-size: 2vh;
  color: #af0b0b;
}
.basketSide {
  direction: rtl;
  width: 27%;
  height: 67vh;
  overflow-y: auto;
  background-color: white;
  border: 0.1vh solid rgb(237, 147, 145);
  border-radius: 1vh 1vh 0 0;
}
.basketHead {
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 0.4vh 3vh;
  align-items: center;
}
.garbage {
  color: rgb(246, 63, 26);
  font-size: 3vh;
}
.basketDetail {
  border-block: 0.1vh #fe8181 solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.basketController {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1vh solid rgb(255, 60, 60);
  align-items: center;
  padding: 0.4vh 3vh;
  height: 33%;
}
.priceAction {
  justify-content: space-around;
  width: 33%;
  display: flex;
  align-items: center;
}
.titlePrice {
  text-wrap: nowrap;
}
.inceriment,
.deceriment {
  cursor: pointer;
  font-size: 4vh;
  border-radius: 0.4vh;
}
.inceriment {
  color: rgb(24, 93, 128);
  padding: 0.3vh;
}
.deceriment {
  color: rgb(255, 44, 16);
  padding: 0.3vh;
}
.inceriment:hover,
.deceriment:hover {
  transform: scale(1.1) rotate(180deg);
}
.buy {
  top: 67vh;
  padding: 1vh;
  width: 100%;
  background-color: rgb(163, 26, 26);
  left: 2%;
  color: #ffffff;
  border: 0.4vh solid rgb(224, 72, 72);
  border-radius: 0 0 1vh 1vh;
}
.buy:hover {
  cursor: pointer;
  transform: scale(0.9);
}
/* end of basket */
.menuSide {
  width: 67%;
}
.categoryBox {
  display: flex;
  width: 100%;
  height: 22vh;
  padding: 0.5vh 4vh;
  overflow-x: hidden;
  border: 0.1vh solid rgb(240, 183, 183);
}

.category {
  margin: 2vh;
  width: fit-content;
  padding: 0 0.7vh;
  text-wrap: nowrap;
  background-color: rgb(249, 200, 197);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.category:hover {
  transform: scale(0.9);
}
.categorimage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 127, 127);
  margin: 3vh;
  width: fit-content;
  height: 6vh;
  font-size: 5vh;
}
.leftDirection,
.rightDirection {
  cursor: pointer;
  position: absolute;
  background-color: rgb(255, 240, 240);
  color: rgb(255, 79, 79);
  font-size: 4vh;
  border-radius: 7vh;
  right: 3.3vh;
  margin-right:1%;
  margin-top: 9vh;
}
.leftDirection:hover {
  transform: scale(1.2) rotate(170deg);
}

.rightDirection:hover {
  transform: scale(1.2) rotate(10deg);
}
.leftDirection {
  left: 32%;
  transform: rotate(180deg);
}

.icono {
  width: 20%;
  height: 100%;
  border-radius: 0.5vh;
}

/* start menu */

.menuSearchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
  border-inline: #f7b8b8 0.2vh ridge;
  padding: 1vh;
}
.searchBar {
  direction: rtl;
  width: 37%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.searchInput {
  border: 1px solid #f4cccc;
  outline: none;
  border-radius: 1vh;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
}
.searchInput::placeholder {
  color: #e32c2c;
}

.searchIcon {
  font-size: 4vh;
  color: #edcece;
  position: absolute;
  margin-left: 7%;
}
.searchEngine {
  display: flex;
  border: solid 0.2vh #df8181;
  width: 30%;
  justify-content: space-around;
}

.parentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchIndex {
  border: solid 0.1vh #df8181;
  background: linear-gradient(#ffaaaa, #ffe4e4);
  padding: 0.5vh 1vh;
  border-radius: 1vh;
  cursor: pointer;
}

.optionsContainer {
  border-block: solid 0.2vh #df8181;
  background-color: #ffffff;
  padding: 1vh 0;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5vh;
  border-radius: 1vh;
  z-index: 1;
}

.enginoption {
  color: #ffffff;
  text-wrap: nowrap;
  border: 0.3vh ridge rgb(192, 71, 71);
  background-color: rgb(203, 71, 71);
  padding: 0.5vh 1vh;
  border-radius: 1vh;
  margin-top: 0.7vh;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.enginoption:hover {
  transform: scale(1.1);
}

/* product styles start from here */

.productself {
  position: fixed;
  width: 40%;
  height: 80%;
  transform: translate(0, -130%);
  background-color: #ffffff;
  border: 3vh ridge;
  border-color: #ed6666 #d8a380 #fe6f6f #ea7c6b;
  border-radius: 3vh;
  z-index: 12;
}
.producTitlef {
  justify-self: center;
  background-color: #ffdddd;
}
.pricactionself {
  width: 100%;
  display: flex;
  background-color: #ea6b6b;
  justify-content: space-around;
}
.productimagelf {
  height: 50%;
  width: 80%;
}
.productDescriptelf {
  background-color: #ffc3c3;
}
.producto {
  display: grid;
  justify-content: space-around;
  padding: 2vh 0;
  grid-template-columns: repeat(auto-fit, minmax(32%, 0fr));
  width: 100%;
  text-align: center;
  gap: 1vh;
  border: 0.1vh solid #ffc3c3;
}

.product {
  border: 0.1vh solid #ffadad;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 48vh;
  justify-content: center;
  align-items: center;
  direction: rtl;
  border-radius: 1vh;
}

.productimage {
  width: 90%;
  height: 67%;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.productDescription {
  position: absolute;
  border: 0.2vh ridge #e2938f;
  background-color: #e8b7b2;
  padding: 0.5vh;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
  text-align: center;
}

.product:hover .productimage {
  opacity: 0.2;
}

.product:hover .productDescription {
  opacity: 1;
}

.producTitle {
  width: 100%;
  background-color: #dfbebb;
  justify-content: flex-start;
}

.priceaction {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.1vh solid #ffb2ad;
}

.heartIcon {
  font-size: 4vh;
  color: #f9500e;
}

.controlBox {
  display: flex;
  justify-content: space-around;
  width: 30%;
  border-radius: 2vh;
  align-items: center;
}

.loadingPlaceholder .productimage,
.loadingPlaceholder .productDescription,
.loadingPlaceholder .producTitle,
.loadingPlaceholder .priceaction {
  background-color: #e0e0e0;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.observer {
  height: 1px;
  visibility: hidden;
}

.productprice {
}

@media (max-width: 876px) {
  .container {
    display: block;
  }
  .basketSide {
    display: none;
  }
  .menuSide {
    width: 100%;
  }
  .leftDirection {
    left: 1%;
  }
  .categoryBox {
    width: 100%;
  }
  .producto {
    grid-template-columns: repeat(auto-fit, minmax(44%, 0fr));
  }
  .productself {
  transform: translate(10%, -30%);
    top: 37vh;
    width: 80%;
  }
}
