/** @format */

.container {
}

.searchBar {
	display: flex;
	align-items: center;
	width: 100%;
	height: 5vh;
	margin: 2vh;
}

.textBox {
	height: 100%;
	padding: 0.4vh;
	border: 0.3vh ridge #fa931c;
	border-radius: 0 1vh 1vh 0;
	outline: none;
	direction: rtl;
}

.submitButton {
	height: 5vh;
	width: 18%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2vh;
	border: 0.4vh double rgba(255, 175, 84, 0.9);
	background: radial-gradient(
		rgba(248, 191, 45, 0.9),
		rgb(255, 223, 40),
		rgba(255, 187, 0, 0.915)
	);
	color: #fffff7;
	cursor: pointer;
	outline: none;
}

.submitButton:hover,
.textBox:hover {
	border: 0.4vh double rgba(255, 169, 20, 0.9);
	transform: scale(1.04);
}

.searchIcon {
	border-radius: 1vh;
	font-size: 4vh;
	transform: rotate(90deg);
}

.searchOptionBox {
	width: 70vw;
	height: 50vh;
	border: 0.2vh ridge rgba(254, 239, 25, 0.9);
	z-index: 34;
	position: fixed;
	margin-top: -2vh;
	left: 0;
	background-color: #fffffd;
}
.searchIcon:hover{transform: rotate(-25deg);}