.chatContainer {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
}

.chatIcon {
  padding: 1.5vh;
  border: 0.3vh dashed rgb(238, 245, 110);
  background: radial-gradient(#d82525, #ff7676);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chatIcon:hover {
  transform: rotate(360deg);
  background: radial-gradient(#eb3131, #d74949);
}

.chatBox {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  width: 28vw;
  height: 80vh;
  background-color: #f4f4f4;
  border: 0.5vh double #f16c6c;
  overflow-y: auto;
  box-shadow: 1px 1px 0.1vh 1px rgb(205, 43, 43) inset;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2vh 1vh;
  text-align: center;
  background-color: #ffffff;
  border-bottom: .3vh solid #ffffff;
}

.cross {
  transition: transform 0.7s;
  color: rgb(244, 94, 0);
  padding: 0.3vh;
}

.cross:hover {
  border-radius: 7vh;
  cursor: not-allowed;
  color: rgba(252, 107, 3, 0.9);
  transform: rotate(4deg) scale(1.2);
}

.messages {
  width: 100%;
  padding: 1vh;
  height: 100%;
  flex: 1;
  overflow-y: auto;
  background-image: url(../../../public/images/chat.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chatBG {
  position: static;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.message {
  overflow-x: hidden;
  width: 90%;
  padding: 1vh;
  margin-bottom: 5px;
  word-wrap: break-word;
  direction: rtl;
}

.userMessage {
  float: right;
  border-radius: .7vh  0 0 2vh;
  background: radial-gradient(#e95b5b, #e86767);
  color: white;
}

.otherMessage {
  border-radius: 0 .7vh  2vh 0;
  color: #a00101;
  background-color: #fefffa;
}

.inputContainer {
  border-top: .4vh ridge rgb(205, 43, 43);
  background-color: #ffffff;
  display: flex;
  padding: 10px;
}

.input {
  flex: 1;
  padding: 1vh;
  border: 1px solid #ffbaba;
  border-left: none;
  direction: rtl;
  border-radius:0 1vh 1vh 0;
  outline: none;
}
.input::placeholder{
  color: #ba0c0c;
}
.sendButton {
  padding: 1vh 2vh;
  border: none;
  background: radial-gradient(#7c1616, #ba0c0c);
  color: white;
  outline: none;
  border-radius:1vh 0 0 1vh ;
  cursor: pointer;
}

@media (max-width: 999px) {
  .chatBox {
    width: 90vw;
    height: 87vh;
  }
}
