/** @format */

.loadingNav,
.loadingStory,
.loadingCirculate,
.loadingCarousel,
.loadingPost {
	width: 100%;
	margin-bottom: 3vh;
}

.loadingNav {
	background: linear-gradient(
		25deg,
		rgb(179, 229, 92),
		rgb(238, 249, 196),
		rgb(175, 224, 89)
	);
	height: 9vh;
}
.loadingStory {
	height: 22vh;
	background-color: #ffffff;
	box-shadow: 1px 1px 7px 1px #f4ffd9, 1px 1px 11vh 1vh #cbe934 inset;
}
.loadingCirculate {
	height: 7vh;
	background-color: #b3e934;
}
.loadingCarousel {
	height: 33vh;
	background-image: repeating-linear-gradient(
		90deg,
		#609a3c,
		#3c9a50 5vh,
		#abd393 5vh,
		#f3ffee 10vh
	);
}
.loadingPost {
	height: 44vh;
}
.loadingChat {
	position: fixed;
	bottom: 5vh;
	right: 5vh;
	padding: 2vh;
	border: 0.3vh dashed rgb(245, 245, 110);
	background: radial-gradient(#ff6600, #b97f42);
	border-radius: 50%;
}
