.container{
  display: flex;
  background-image: repeating-linear-gradient(22deg, #d9ff5d, #fde675);
  width: 100%;
  height: 90vh;

}
.tags {
  display: flex;
  width: 100%;
  overflow: auto;
  justify-content: space-around;
}
.tagBox {
  height: fit-content;
  animation: 2s openit infinite;
  margin-left: 5vw;
  width: 10%;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-bottom: 1vh ridge rgb(255, 132, 0);
  border-inline: .2vh dashed rgb(255, 132, 0);
  background-image: repeating-linear-gradient(22deg, #fff45d, #fbe242);
}
.image {
  border-block: 1vh ridge rgb(255, 132, 0);
  cursor: pointer;
  width: 12vh;
  height: 12vh;
  border-radius: 22vh;
}
.tagimage:hover {
  transform: scale(1.05) rotate(180deg);
  cursor: pointer;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: repeating-linear-gradient(22deg, #b8d393, #f7ffee);
  padding: 2vh;
  height: fit-content;
  width: fit-content;
  border-radius: 111%;
  margin: 1vh;
}
.tools:hover {
  transform: rotate(23deg);
}

.toolName {
  background-image: repeating-linear-gradient(22deg, #7ecb3b, #76a93c);
}
.toolPrice {
  background-image: repeating-linear-gradient(22deg, #bfec80, #9ce34a);
}
.cakolate {
  background-image: repeating-linear-gradient(22deg, #eded01, #fa8108);
  border: 0.3vh dashed rgb(255, 252, 204);
  color: rgb(255, 252, 204);
  font-size: 5vh;
  cursor: pointer;
  position: absolute;
  align-self: flex-end;
  width: 9vh;
  height: 9vh;
  border-radius: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cakolate:hover {
  transform: scale(1.1) rotate(180deg);
}
.cake {
  font-size: 2vh;
  background-color: #ebffda;
  width: 22vw;
  height: 44vh;
  position: absolute;
  align-self: flex-end;
  border-radius: 1vh;
  border: 1vh double rgb(255, 132, 0);
  text-wrap: nowrap;
}
.cakheader {
  display: flex;
  height: 18%;
  justify-content: space-between;
  padding: 0 1vh;
  color: #e3f5ff;
  align-items: center;
  border-bottom: 0.3vh dashed rgb(255, 252, 204);
  background-image: repeating-linear-gradient(222deg, #2c1a00ec, #935518);
}
.cakeStatePrice{
  direction: rtl;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.showimgicon {
  left: 0;
  position: absolute;
  color: #fffaf5;
  background-color: #eba50e;
  font-size: 4vh;
  border-radius: 4vh;
  padding: 0.5vh;
  border: 0.3vh dashed rgb(255, 221, 0);
  cursor: pointer;
}
.showimgicon:hover {
  background-color: #eb450e;
}
.closeIcon {
  border: 0.2vh dashed rgb(255, 132, 0);
  padding: 0.3vh;
  background-color: rgb(255, 252, 204);
  border-radius: 22vh;
  cursor: pointer;
  font-size: 5vh;
  width: 5vh;
  height: 5vh;
  color: #ff6600;
}
.closeIcon:hover {
  color: #ff4d00;
  transform: scale(1.1) rotate(180deg);
}
.checko {
  background-color: #fef8b5;
  color: #049913;
  font-size: 3vh;
  border-radius: 4vh;
  padding: 0.2vh;
  border: 0.2vh dashed rgb(255, 132, 0);
}
.cakedetails {
  overflow-y: auto;
  border: 1vh red;
  background-image: repeating-linear-gradient(22deg, #f8d304, #fffed1);
  display: flex;
  flex-direction: column;
  direction: rtl;
  width: 100%;
  height: 82%;
}

.cakimage {
  border-block: 0.7vh ridge rgb(255, 132, 0);
  border-radius: 1vh;
  position: absolute;
  padding: 0 1vh;
  display: flex;
  width: 100%;
  justify-content: center;
  top: -23vh;
  background-color: #e3f5ff;
}
.icon {
  background-color: #f9930d;
  border-radius: 11vh;
  padding: 1vh;
  color: #ebffda;
  font-size: 22vh;
}

.editicon:hover {
  padding: 1vh;
  font-size: 4vh;
  transform: rotate(180deg);
  background-color: rgb(255, 252, 204);
  border-radius: 7vh;
}
.cakedetail {
  background-image: repeating-linear-gradient(22deg, #eba50e, #fedd27);
  color: #f24f09;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.cakedetail:hover {
  cursor: pointer;
  border-radius: 2vh;
  border-block: 0.7vh double rgb(255, 132, 0);
  transform: scale(0.94);
}

.cakedetailoption {
  position: absolute;
  left: 100%;
  background-color: rgb(255, 252, 204);
}
.range {
  color: red;
  background: #eba50e;
}
