@keyframes showImage {
  0% {
    transform: translateX(-100%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mainContainer {
  width: 100vw;
  padding: 1vh;
  font-size: 2vh;
}
.carousel {
  width: 100%;
  height: 70vh;
}

.topBackground {
  animation: showImage 1s;
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 70vh;
  z-index: -1;
  opacity: 0.8;
  transition: background 1s ease-in-out;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  width: 2vh;
  height: 2vh;
  border: 1px solid #ff9191b8;
  font-size: 2vh;
  opacity: 0.6;
  border-radius: 4vh;
  background-color: rgba(255, 255, 255, 0.621);
  color: rgb(197, 68, 68);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prevButton {
  left: 10px;
}
.nextButton {
  right: 10px;
}
.prevButton:hover,
.nextButton:hover {
  opacity: 1;
  transform: scale(1.1) rotate(23deg);
}
.topImage {
  left: 0;
  z-index: -1;
  top: 100vh;
  position: absolute;
  height: 78vh;
  width: 100vw;
}
.RectangleShow {
  margin-top: 75vh;
}

.backgroundContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  top: 107vh;
  left: 0;
  position: absolute;
  justify-content: center;
}
.leftImageSide,
.rightImageSide,
.bottomReftImage,
.bottomRightImage {
  width: 30%;
  perspective: 60vh;
  position: absolute;
  height: 40vh;
}
.leftImageSide {
  left: 0;
}
.mainImageSide {
  margin-top: 4vh;
  width: 100%;
  height: 70vh;
  padding: 2vh;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 1vh;
}
.rightImageSide {
  right: 0;
}
.leftImage {
}
.mainImage {
  border-radius: 4vh;
  width: 100%;
  height: 100%;
}
.mainImage:hover {
  perspective: 10vh;
  transform: rotateY(12deg) rotateX(12deg);
}
.bottomReftImage {
  margin-top: 35vh;
  transform: rotateY(14deg);
  width: 100%;
  height: 100%;
}
.bottomRightImage {
  margin-top: 35vh;
  transform: rotateY(14deg);
  width: 100%;
  height: 100%;
}
.rightImage {
}
.leftImage,
.rightImage {
  transform: rotateY(14deg);
  width: 100%;
  height: 100%;
}
.gotorder {
  animation: showImage 1s;
  background-color: #f6dddda9;
  width: fit-content;
  position: absolute;
  top: 113vh;
  left: 15%;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}
.gotorder h2 {
  z-index: 1;
  color: #ffffff;
  padding: 1vh;
  cursor: pointer;
  border-radius: 1vh;
  background-color: #de6a6a;
  width: fit-content;
}
.gotorder h2:hover {
  border-radius: 2vh;
  transform: scale(0.8);
}
.productsSection {
  background: linear-gradient(to top, #ffe5e5, #ffffff);
  display: flex;
  padding: 4vh 0;
  flex-direction: column;
}

.productBox {
  display: grid;
  margin-top: 7vh;
  grid-template-columns: repeat(auto-fit, minmax(18%, 0fr));
  gap: 2vh;
  justify-content: center;
  width: 100%;
  text-align: center;
  left: 0;
}
.product {
  height: fit-content;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product:hover {
  transform: scale(1.05);
}
.mainCakeImage {
  width: 100%;
  height: 30vh;
  border-radius: 10px;
}
.product h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #d68080;
  width: 100%;
  border-bottom: 1px solid #f7d7d7;
}
.product p {
  border-top: 1px solid #f7d7d7;
  padding: 0.5vh 7%;
  color: #ec6f6f;
}
.bottomSection {
  margin-bottom: 77vh;
}
@media (max-width: 876px) {
  .gotorder {
    top: 72vh;
    width: 100%;
    left: 0;
    background-color: #fff0f0;
  }
  .topImage {
    top: 85vh;
    height: 60vh;
  }
  .backgroundContainer {
    top: 107vh;
  }
  .leftImageSide {
    display: none;
  }
  .rightImageSide {
    display: block;
    margin-top: -20vh;
    width: 100vw;
  }
  .productsSection {
    width: 98%;
  }
  .productBox {
    grid-template-columns: repeat(auto-fit, minmax(44%, 1fr));
  }
  .product {
    justify-self: center;
  }
  .product:last-child {
    width: 100%;
    margin-left: 50vw;
  }
  .RectangleShow {
    margin-top: 67vh;
    width: 99%;
    font-size: 1.5vh;
  }
  .bottomSection {
    margin-bottom: 100vh;
  }
}
