@keyframes basketOpen {
  0% {
    transform: translateX(-100%);
  }
}
.basketBall {
  font-size: 3vh;
  color: rgb(126, 37, 44);
  text-align: center;
  cursor: pointer;
  margin-top: 1vh;
  z-index: 33;
}

.basketBall:hover {
  animation: rotateBall infinite 2s;
}

.productCount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248, 177, 23);
  border-radius: 22vh;
  width: 2vh;
  height: 2vh;
  font-size: 1.2vh;
  border: 0.2vh ridge rgb(255, 236, 230);
  color: #ffffff;
  top: 1.8vh;
}

.basketDrawer {
  top: 0;
  left: 0;
  animation: basketOpen 1s;
  width: 38vw;
  border-radius: 0 4vh 0 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  border-right: ridge 0.6vh rgba(255, 166, 166, 0.926);
  position: fixed;
  z-index: 33;
}

.basketHeader {
  width: 100%;
  border-radius: 0vh 3vh 0vh 0vh;
  color: rgba(39, 28, 1, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: ridge 1px rgba(253, 216, 216, 0.926);
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.calculateBox {
  display: flex;
  justify-content: space-around;
  min-width: 60%;
  border-radius: 0 4vh 4vh 0;
  border: 1px ridge rgb(255, 113, 113);
  border-left: none;
  border-top: none;
  color: #f17171;
  direction: rtl;
}

.basketBase {
  background-color: #f17171;
  animation: basketOpen 1s;
  height: 87%;
  background-color: rgba(255, 255, 255, 0.99);
  border-left: none;
  border-radius: 0vh 1vh 1vh 0vh;
  overflow-y: auto;
}

.confirm {
  background-color: rgb(255, 34, 34);
  color: #ffffff;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0.5vh;
  left: 1%;
  position: absolute;
  width: 98%;
  border-radius: 0.5vh;
  height: 4vh;
  cursor: pointer;
}

.confirm:hover {
  transform: scale(0.9);
  border: 0.2vh ridge rgb(250, 222, 255);
}
.emptyBasket {
  font-size: 5vh;
  margin-top: 33vh;
}
@media (max-width: 787px) {
  .basketDrawer {
    width: 67%;
    height: 100%;
  }
  .basketHeader {
    flex-direction: row-reverse;
  }
  .calculateBox {
    min-width: 80%;
  }
  .productCount {
    margin-top: -3.7vh;
  }
}
