/** @format */

.container {
	display: flex;
	justify-content: space-around;
	max-width: 100%;
	border: #ffe8e8 1px solid;
	padding: 1vh;
	justify-items: center;
	gap: 1vh;
	overflow-x: auto;
}

.name{
	color: #ff8989;
	text-align: center;
}

.image {
	background-color: rgb(255, 181, 181);
	border-radius: 22vh;
	padding: .5vh;
}

@media (max-width: 777px) {
	.container {
		height:22vh;
		grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
	}
	.name{font-size: 1.3vh;}
}