.leaflet-control-attribution {
  display: none;
}

.custom-attribution {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
}
