/** @format */

@keyframes screen-box {
  from {
    opacity: 0;
    margin-left: -100vh;
  }

  to {
    opacity: 1;
    margin-left: 4vh;
  }
}

.screenBox {
  animation: screen-box 0.7s ease-in-out;
  border: solid 0.5vh;
  border-left-color: #ffeeee;
  border-right-color: #ffe3e3;
  border-top-color: #fcb8b8;
  border-bottom-color: #e2a9a9;
  padding: 1vh;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  direction: rtl;
}
.content {
  display: flex;
  justify-content: space-between;
  min-height: 80vh;
  width: 100%;
}

.screenIssueLogoBox {
  width: 14vh;
  height: 14vh;
  perspective: 80vh;
  position: fixed;
  left: 55%;
  top: 50vh;
  margin: 0 auto;
}

.issueScreenLogo {
  opacity: 0.23;
  border-radius: 5vh;
  width: 20vw;
  height: 20vh;
  transform: rotateX(54deg);
  transform-origin: 10% 10% 118%;
  box-shadow: 1px 1px 7px 1px #faa5a5;
  cursor: pointer;
}

.issueScreenLogo:hover {
  opacity: 0.3;
  transform: rotate(12deg);
}
.postDetails {
  width: 28%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.namategory {
  display: flex;
  align-items: center;
  color: #ff7979;
  padding: 1vh;
}
.namategory:hover {
  color: #ff4d4d;
}
.namategory h5 {
  color: #ff3939;
  margin: 1vh;
}
.description {
  color: #790404;
}
.galleryBox {
  direction: ltr;
  width: 40%;
}
.basket {
  width: 30%;
  height: fit-content;
  border-radius: 0.5vh;
  border: 0.1vh solid #e2a9a9;
}
.basketHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  color: #ff6161;
  border-bottom: 1px solid #ffdede;
}
.headLinePoint {
  direction: rtl;
  font-size: 1.5vh;
  color: #e2a9a9;
  padding: 1vh;
  border-bottom: 1px #ffd8d8 solid;
}
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #ff6161;
}
.mainImage {
  width: 40%;
  height: 20vh;
}
.priceAction {
  width: 100%;
  margin: 1vh;
}
.price{
  display: flex;
  justify-content: space-around;
  font-size: 2vh;
  margin: 1vh;
  color: #ff6161;
}
.addToBasket,
.addComment {
  cursor: pointer;
  margin: 2vh 10%;
  color: #ffffff;
  padding: 1vh;
  border-radius: 1vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6161;
}
.addToBasket:hover,
.addComment:hover,
.submito:hover {
  transform: scale(1.1);
}

.details {
  display: flex;
  justify-content: space-around;
  color: #b70000;
  width: 100%;
  height: 50%;
  align-items: center;
  border-radius: 13vh;
}

.controlBox {
  border: double 0.5vh rgb(255, 241, 241);
  background: radial-gradient(rgb(255, 225, 225), rgb(255, 218, 218));
  width: 94%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count {
  color: #ff6161;
}
.inceriment,
.deceriment {
  border-radius: 4vh;
  width: 7%;
  display: block;
  text-align: center;
  height: 100%;
  color: rgb(248, 255, 235);
}

.inceriment {
  background: linear-gradient(44deg, rgb(0, 135, 175), rgb(74, 132, 207));
  transition: transform 0.5s;
}

.deceriment {
  background: linear-gradient(44deg, rgb(242, 105, 55), rgb(242, 140, 23));
  transition: transform 0.7s;
}

.deceriment:hover,
.inceriment:hover {
  transform: rotate(19deg);
}

.commentBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rates {
}
.existComments {
  border-top: solid 0.1vh rgb(233, 206, 206);
  margin: 1vh 0;
}
.commentBox {
  border-bottom: solid 0.1vh rgb(233, 206, 206);
  padding: 1vh;
}
.comment {
  width: 100%;
}
.sender,
.admin {
  color: #ff4d4d;
  padding: 1vh;
  display: flex;
}
.admin {
  margin-right: 4vh;
  color: #0d7499;
}
.time {
  color: #e2a9a9;
  font-size: 1.2vh;
  margin: 1vh;
}
.text,
.adminText {
  color: #136380;
  margin-right: 5%;
}
.adminText {
  margin-right: 7%;
}
.response {
  border-top: #0d7499 1px dashed;
  margin: 2vh;
}
.addComment {
  background-color: #136380;
}
.addCommentForm {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5f5e5e6a;
  z-index: 6;
}
.closeButton {
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7vh;
  padding: 2vh;
  border-radius: 7vh;
  color: rgb(255, 255, 255);
  margin: 1vh;
  border: 0.3vh dashed rgb(255, 249, 68);
  background-color: rgb(255, 73, 73);
  cursor: pointer;
}
.closeButton:hover {
  transform: rotate(360deg) scale(1.3);
}
.starBox {
  background-color: #ffffff;
  padding: 1vh 5vh;
  border-radius: 2vh;
  border: 0.3vh dashed rgb(226, 220, 38);
}
.addCommentRow {
  width: 70%;
}
.addCommentRow input,
.addCommentRow textarea {
  width: 100%;
  margin: 1vh;
  padding: 1vh;
  border-radius: 2vh;
  outline: none;
  border: 0.1vh solid rgb(184, 184, 184);
}
.addCommentRow textarea {
  height: 20vh;
  padding: 2vh;
  border-radius: 4vh;
}
.submito {
  background-color: rgb(255, 34, 34);
  color: #ffffff;
  border: none;
  border-radius: 2vh;
  padding: 1vh 3vh;
}
@media (max-width: 999px) {
  .content {
    width: 100%;
    flex-direction: column-reverse;
  }
  .namategory {
    width: 100%;
    text-wrap: nowrap;
  }
  .galleryBox {
    width: 56%;
  }
  .basket {
    background-color: #ffffff;
    width: 44%;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 1.3vh;
  }
  .controlBox{
    height: fit-content;
  }
  
  .inceriment,
  .deceriment {
    width: 12%;
  }
}
