.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.contactBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 50vw;
}

.paragraphs {
  margin-bottom: 20px;
}

.paragraphs p {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .contactBox {
    padding: 10px;
  }


}
