/** @format */

@keyframes borderanimate {
	30% {
		border-radius: 44vh 22vh;
		border: ridge 0.3vh rgba(23, 55, 11, 0.4);
		box-shadow: 1px 1px 7px 1px rgba(67, 234, 16, 0.5),
			1px 1px 7px 1px #cdd6a9 inset;
	}

	60% {
		border-radius: 33vh 33vh;
		border: ridge 0.7vh rgba(55, 55, 11, 0.4);
		box-shadow: 1px 1px 7px 1px rgba(118, 234, 16, 0.5),
			1px 1px 7px 1px #f8eea0 inset;
	}

	90% {
		border-radius: 55vh 44vh;
		border: ridge 0.9vh rgba(215, 253, 1, 0.4);
		box-shadow: 1px 1px 7px 1px rgba(165, 234, 16, 0.5),
			1px 1px 7px 1px #dcfa90 inset;
	}
}

.animate {
	animation: borderanimate 2s;
}

.container {
	text-wrap: nowrap;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(rgb(234, 255, 163),
			rgb(143, 249, 56),
			rgb(28, 145, 4));
}

.formBox {
	width: 50%;
	height: 67%;
	background: repeating-linear-gradient(190deg,
			rgba(167, 247, 30, 0.7),
			rgba(146, 214, 63, 0.929),
			rgba(54, 255, 9, 0.9));
	border-radius: 100vh 1vh;
	padding-top: 3vh;
}

.logo {
	position: absolute;
	height: 44vh;
	top: 28vh;
	left: 33vw;
	width: 33vw;
	border-radius: 7vw;
	border: 0.3vh rgb(225, 255, 192) dashed;
}

.formShadow {
	position: absolute;
	width: 50%;
	height: 67%;
	background: repeating-linear-gradient(190deg,
			rgba(159, 242, 77, 0.7),
			rgba(175, 254, 176, 0.4),
			rgba(88, 220, 22, 0.9));
	border-radius: 1vh 100vh;
	border: ridge 1vh #a8ff7ce9;
	animation: borderanimate 7s;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.formInnerBox {
	padding-top: 3vh;
	background: repeating-linear-gradient(190deg,
			rgba(57, 98, 6, 0.836) 7%,
			rgba(216, 241, 159, 0.769) 50%,
			rgba(5, 99, 12, 0.9)) 22%;
	border-radius: 0 0 12vh 2vh;
	border: ridge 0.2vh rgba(177, 255, 9, 0.9);
	width: 80%;
	height: 87%;
	margin-left: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: borderanimate 7s;
}

.formRow {
	background: repeating-linear-gradient(190deg,
			rgba(159, 242, 77, 0.7),
			rgba(115, 177, 0, 0.4),
			rgba(22, 220, 45, 0.9));
	width: 90%;
	height: 22%;
	margin-top: 4vh;
	padding: 1vh;
	border-radius: 2vh 4vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #001000;
}

.formRow input {
	width: fit-content;
	width: 55%;
	padding: 1vh;
	direction: rtl;
	text-align: center;
	height: 67%;
	font-size: 1vw;
	margin-left: 1vh;
	border: ridge 0.2vh rgb(192, 255, 210);
	border-radius: 0.7vh;
	outline: none;
}

.formRow label {
	text-wrap: nowrap;
	margin-left: 1vh;
	font-size: 2vh;
	padding: 1vh;
	border-radius: 0.5vh;
	background: linear-gradient(rgb(123, 247, 142), rgb(240, 253, 203));
}

.buttonBox {
	background: radial-gradient(rgba(177, 249, 21, 0.4),
			rgba(208, 249, 72, 0.926),
			rgba(164, 255, 108, 0.6),
			rgba(202, 233, 188, 0.7));
	width: 77%;
	height: 7vh;
	display: flex;
	margin: 3vh;
	justify-content: space-around;
	align-items: center;
	border-radius: 55vh 12vh;
	border: ridge 1vh rgba(112, 243, 37, 0.4);
	box-shadow: 1px 1px 7px 1px rgba(191, 245, 90, 0.5),
		1px 1px 7px 2px #95f308 inset;
}

.buttonBox button {
	font-size: 2vh;
	padding: 0.7vh 1vh;
	cursor: pointer;
}

.formRow input:hover,
.formRow label:hover,
.submit:hover {
	animation: borderanimate 0.2s reverse;
	transform: scale(1.2);
	cursor: pointer;
}

.submit {
	width: 77%;
	border-radius: 14vh 2vh;
	color: #e3f7ff;
	background: linear-gradient(22deg,
			rgba(145, 194, 81, 0.9),
			rgba(51, 71, 10, 0.9));
	border: dashed 0.3vh #edffe3;
}

@media (max-width: 777px) {
	.formBox {
		width: 97%;
	}

	.formShadow {
		width: 97%;
	}

	.formRow {
		width: 100%;
	}

	.formRow input {
		width: 64%;
		font-size: 2vh;
	}

	.logo {
		left: 14%;
		opacity: 0.5;
		border: none;
		width: 72%;
	}

	.buttonBox {
		margin-top: 2vh;
	}
}