/** @format */
@keyframes borderero {
  0% {
    border-bottom: 0.1vh ridge rgb(243, 131, 27);
  }
}
@keyframes openItems {
  0% {
    transform: translateY(-100%);
  }
}

.navBar {
  background-color: #ffffff;
  color: rgb(195, 11, 23);
  position: fixed;
  top: 0;
  z-index: 44;
  display: flex;
  justify-content: space-between;
  direction: rtl;
  text-align: center;
  height: 9vh;
  width: 100vw;
  padding: 0.2vh 7vh;
  border-bottom: 0.1vh rgba(255, 196, 196, 0.9) solid;
}
.searchBar {
  direction: rtl;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.searchInput {
  border: 1px solid #f2c7c7;
  outline: none;
  border-radius: 1vh;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
}
.searchInput::placeholder {
  color: #e79090;
}

.searchIcon {
  font-size: 4vh;
  color: #f9cdcd;
  position: absolute;
  margin-left: 7%;
}
.itemsBox {
  z-index: 7;
  margin: 1vh;
  align-items: center;
  display: flex;
}

.item {
  z-index: -1;
  width: 100%;
  margin: 1vh 3vw;
  text-wrap: nowrap;
}
.item:hover {
  animation: borderero 1s;
}

.productsopenItemsBox {
  max-height: 50vh;
  overflow-y: auto;
  z-index: -1;
  animation: openItems 1s;
  background-color: #fdf3f3;
  box-shadow: 0px 0px 2px 0px rgb(246, 200, 200);
  border-bottom: .7vh ridge rgb(255, 179, 179);
  border-right: .7vh ridge rgb(238, 155, 155);
  width: 100px;
  border-radius: 0 0 11vh 1vh;
  position: absolute;
  top: 9.2vh;
  padding: 1vh 0;
}

.productBox {
  width: 90%;
  margin-right: 8%;
  border-bottom: 0.1vh solid rgb(255, 222, 222);
  border-radius: 1vh;
  background-color: rgb(255, 255, 255);
}
.productBox:hover {
  transform: scale(1.01);
  background-color: rgb(255, 244, 244);
}
.products {
  border-radius: 0 0 11vh 1vh;
  background-color: #fbffe8;
  margin: 1vh;
  text-wrap: nowrap;
  display: block;
}

.products:hover {
  color: rgb(241, 10, 10);
  font-weight: bolder;
}

.leftSide {
  width: 37%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.navButton {
  border-radius: 1vh;
  padding: 1vh;
  margin: 3vh;
}

.navButton:hover {
  background: linear-gradient(
    333deg,
    rgba(212, 216, 179, 0.9),
    rgba(37, 45, 70, 0.9)
  );
}

.icon {
  font-size: 5vh;
}

.iconBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
}

.profile {
  font-size: 6vh;
  color: #fbffe8;
  background-color: rgb(246, 108, 108);
  border-radius: 23vh;
  border: 0.3vh rgb(239, 255, 234) dashed;
  cursor: pointer;
}

.profile:hover {
  transform: rotate(360deg);
  transition: transform 3s;
}

@media (max-width: 999px) {
}
