
@keyframes openItems {
  0% {
    transform: translateY(50%);
  }
}

.navBar {
  background-color: #ffffff;
  color: rgb(108, 15, 22);
  position: fixed;
  top: 0;
  z-index: 44;
  display: flex;
  justify-content: space-between;
  direction: rtl;
  text-align: center;
  height: 9vh;
  width: 80vw;
  margin-left: 10%;
  padding: 0.2vh 7vh;
  border-bottom: 0.1vh rgba(186, 124, 124, 0.9) solid;
  border-radius:0 0 2vh 2vh;
}
.itemsBox {
  z-index: 7;
  margin: 1vh;
  align-items: center;
  display: flex;
}

.item {
  z-index: -1;
  width: 100%;
  margin: 1vh 3vw;
  text-wrap: nowrap;
}
.item:hover {
  color: #f89393;
}
.catypeBox{
  display: flex;
}
.productsopenItemsBox {
  max-height: 50vh;
  overflow-y: auto;
  z-index: -1;
  animation: openItems 1s;
  background-color: #fdf3f3;
  width: 30%;
  margin-left: -10%;
  border-radius: 1vh;
  position: absolute;
  top: 9.2vh;
  padding: 1vh 0;
}

.productBox {
  border-bottom: 0.1vh solid rgb(255, 255, 255);
  border-radius: 1vh;
  background-color: rgb(255, 255, 255);
}
.productBox:hover {
  transform: scale(1.01);
  background-color: rgb(255, 244, 244);
}
.products {
  border-radius: 0 0 11vh 1vh;
  background-color: #fbffe8;
  margin: 1vh;
  text-wrap: nowrap;
  display: block;
}

.products:hover {
  color: rgb(241, 10, 10);
  font-weight: bolder;
}
.typeBox{
  width:22vw;
  margin: 5vh;
  position: absolute;
  background-color: #ffffff;
}
.type{
  margin: 1vh;
  border-bottom: .1vh solid #ffd2d2;
}
.type:last-child{border: none;}
.leftSide {
  width: 37%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.navButton {
  border-radius: 1vh;
  padding: 1vh;
  margin: 3vh;
}

.navButton:hover {
  background: linear-gradient(
    333deg,
    rgba(212, 216, 179, 0.9),
    rgba(37, 45, 70, 0.9)
  );
}

.icon {
  font-size: 5vh;
}

.iconBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
}

.profile {
  font-size: 3vh;
  color: rgb(126, 37, 44);
  cursor: pointer;
}

.profile:hover {
  transform: rotate(360deg);
  transition: transform 3s;
}

@media (max-width: 999px) {
}
