/** @format */
.navBar {
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  position: fixed;
  padding: 1vh;
  z-index: 7;
  top: 0;
  justify-content: space-between;
  border-bottom: 1px solid #f2c7c7;
  align-items: center;
 }
.searchBar {
  direction: rtl;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.searchInput {
  border: 1px solid #f2c7c7;
  outline: none;
  border-radius: 1vh;
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
}
.searchInput::placeholder {
  color: #e79090;
}

.searchIcon {
  font-size: 4vh;
  color: #f9cdcd;
  position: absolute;
  margin-left: 7%;
}
.drawer {
  width: 40vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  border-right: 1px solid #e79090;
  color: #6d5151;
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  z-index: 22;
}

.searchBox {
  width: 90%;
  margin-right: 5%;
}

.itemBox {
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.item {
  border-radius: 0.5vh;
  padding: 1vh;
  border-radius: 1vh;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-bottom: solid 1px rgb(251, 223, 223);
}
.item:hover {
  color: #d84b4b;
  transform: translate(1vh);
}

.category{
  border-bottom: solid 1px rgb(255, 147, 147);
display: flex;
align-items: center;
justify-content: space-between;
}
.directionIcon:hover{
  color: #d84b4b;
}
.options,
.subOptions {
  border-bottom: 0.1vh solid rgb(172, 164, 164);
  border-radius: 2vh;
  padding: 1vh;
  margin: 1vh;
}
.subOptions:hover{
  background-color: #fccece;
  color: #d84b4b;
}
.image {
  width: 5vh;
  height: 5vh;
}

.navIcon  {
  color: rgb(233, 52, 52);
  width: 5vh;
  height: 5vh;
  font-size: 3vh;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.iconBox {
  display: flex;
  align-items: center;
  width: 20%;
  left: 0;
  justify-content: space-around;

}

.profile {
  font-size: 3vh;
  color: rgb(108, 15, 22);
  border-radius: 23vh;
  cursor: pointer;
}

.profile:hover {
  transform: rotate(360deg);
  transition: transform 3s;
}

@media (max-width: 777px) {
  .drawer {
    width: 60%;
  }
}
