.addressBox {
  justify-content: space-around;
  align-items: center;
  border-bottom: .2vh ridge rgb(246, 110, 110);
  padding-bottom: 1vh;
}
.addAddressBox {
  text-align: center;
}
.cross{
  background-color: #ffffff;
  font-size: 4vh;
  border-radius: 4vh;
  padding: .2vh;
  color: #ff4d07;
}
.addAddressBox p{
  color: #e60e0e;
  border-bottom: ridge 1.3vh rgb(255, 215, 215);
}
.addrAddBtn {
  height: fit-content;
  background: linear-gradient(55deg, #ffc9c9, #ffb2b2, rgb(254, 203, 203));
  color: #a20000;
  border-radius: 4vh;
  padding: 1vh 2vh;
  border: 0.3vh dashed rgb(203, 237, 185);
  cursor: pointer;
}
.addrAddBtn:hover,
.selectAddressBox p:hover {
  border-color: #a41a1a;
  transform: scale(0.9);
}
.selectAddressBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectAddressBox p {
 color: #961f1f;
}
.selectList {
  outline: none;
  background: linear-gradient(55deg, #c83535, #a22d2d, rgb(176, 39, 39));
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: double 0.5vh #d1fffd;
  border-radius: 0.5vh;
}

.selectList:hover {
  border: dashed 0.2vh #d1fffd;
  background: linear-gradient(95deg, #e74a23, #9a3618);
  transform: scale(1.01);
}

.selectList option {
  background-color: #fd8d37;
  color: #d30000;
}

.selectList option:nth-child(odd) {
  color: #ffffff;
  background-color: rgba(31, 135, 13, 0.756);
  border-end-end-radius: 22vh;
}

.cardBox {
  display: flex;
  width: 100%;
}
.descriptions {
  direction: rtl;
  color: #690505;
  width: fit-content;
  margin: 2vh;
  padding: 2vh;
  border-radius: 1vh;
  border: 0.3vh dashed rgba(255, 255, 236, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2vh;
  width: 98%;
}

.descriptions p {
  text-wrap: nowrap;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImage {
  height: 40vh;
  opacity: 0.4;
  border-radius: 4vh;
  cursor: pointer;
}

.cardDetails {
  position: absolute;
  text-align: center;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
}

.cardNumber,
.cardName {
  cursor: copy;
  background-color: rgb(248, 255, 255, 0.3);
  text-wrap: nowrap;
  color: rgb(201, 0, 0);
  border-radius: 1vh;
  padding: 0 4vh;
}

.cardImage:hover {
  opacity: 0.6;
  border: 0.5vh ridge rgb(240, 74, 41);
}

.fileInputContainer {
  position: relative;
}

.fileInput {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fileInputContainer,
.fileInput {
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #ac0c0c, #e14141);
  border-radius: 50%;
  padding: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3vh dashed rgb(254, 225, 37);
}

.fileInputContainer:hover {
  transform: rotate(30deg);
  background: linear-gradient(to right, #edf64c, #f6a309);
}

.upload {
  font-size: 5vh;
  color: #d2ffe0;
}

.image {
  border-radius: 7vh;
}

.send {
  border-radius: 4vh;
  display: flex;
  justify-content: center;
}

.send p {
  padding: 0 7vh;
  border-radius: 1vh;
  color: #f3fff6;
  border: 0.3vh solid rgb(255, 230, 0);
  background: linear-gradient(to right, #9e0303, #cd420b, #9d3333);
  width: fit-content;
}

.send p:hover {
  transform: scale(1.2) rotate(3deg);
  cursor: pointer;
}

@media (max-width: 877px) {
  .addressBox {
    flex-direction: column;
    align-items: center;
  }
  .addrAddBtn {
    width: fit-content;
  }
  .selectList {
    width: 100%;
  }
  .cardBox {
    flex-direction: column;
  }
  .cardImage {
    width: 90vw;
  }
  .cardDetails {
    width: fit-content;
  }
}
